<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.green2209S_10.dao.HomeDAO">
	<select id="getMemberIdCheck" resultType="com.spring.green2209S_10.vo.CgvMemberVO">
		select * from cgvmember where mem_id = #{id}
	</select>
	
	<select id="getTicketingMovieName" resultType="com.spring.green2209S_10.vo.CgvTicketingVO">
		select * from fastticketing_region order by idx; 
	</select>

	<select id="getMemberIdCheckNickName" resultType="com.spring.green2209S_10.vo.CgvMemberVO">
		select * from cgvmember where mem_nickName = #{nickName}
	</select>
	
	<select id="getMemberReportContent" resultType="com.spring.green2209S_10.vo.CgvMemberVO">
		SELECT * FROM CGVMEMBER WHERE MEM_ID = #{id}
	</select>

	<select id="getIdSearch" resultType="String">
		SELECT MEM_ID FROM CGVMEMBER WHERE MEM_NAME = #{name} AND MEM_NICKNAME = #{nickName} AND MEM_SCNUMBER = #{scnumber};
	</select>
	
	<select id="getPswdSearch" resultType="String">
		SELECT mem_Pswd FROM CGVMEMBER WHERE MEM_ID = #{id} AND MEM_NICKNAME = #{nickName} AND MEM_EMAIL = #{email};
	</select>
	
	<select id="getMemberNickNameEmailCheck" resultType="com.spring.green2209S_10.vo.CgvMemberVO">
		SELECT * FROM CGVMEMBER WHERE MEM_NICKNAME = #{nickName};
	</select>
	
	<select id="getAuthEmailSearch" resultType="String">
		SELECT AU_EMAIL FROM CGVAUTH WHERE AU_EMAIL = #{email}
	</select>
	
	<select id="getAuhNumberEmail" resultType="String">
		SELECT AU_AUTHNUMBER FROM CGVAUTH WHERE AU_AUTHNUMBER = #{authNumber} AND AU_EMAIL = #{email};
	</select>
	
	<select id="getHeaderImgList" resultType="com.spring.green2209S_10.vo.CgvMainHeaderImgVO">
		SELECT * FROM CGVMAINHEADERIMG;
	</select>
	
	
	<update id="setNewPswdInput" >
	 UPDATE CGVMEMBER SET MEM_PSWD = #{newPswd} WHERE MEM_ID = #{id};
	</update>
	
	<update id="setAdminToday">
		UPDATE CGVADMINMAIN SET TODAY = TODAY+1,ALLDAY = ALLDAY+1;
	</update>
	
	<update id="setOnOff">
		<if test="sw == 0">
			UPDATE CGVMEMBER SET MEM_ONOFF = 1 WHERE MEM_ID = #{id}
		</if>
		<if test="sw == 1">
			UPDATE CGVMEMBER SET MEM_ONOFF = 0 WHERE MEM_ID = #{id}
		</if>
	</update>
	
	<update id="setADminJoinToday">
		UPDATE CGVADMINMAIN SET TODAYJOIN = TODAYJOIN + 1;
	</update>
	
	<insert id="setJoinInput">
		<if test="sw == ''">
			INSERT INTO CGVMEMBER VALUES(default,#{vo.mem_nickName},#{vo.mem_name},#{vo.mem_id},#{vo.mem_pswd},#{vo.mem_scNumber},#{vo.mem_tel},#{vo.mem_email},default,default,default,default,default,#{vo.mem_pswdQ},#{vo.mem_pswdA},#{vo.mem_photo},#{vo.mem_sPhoto},DEFAULT,DEFAULT,DEFAULT,DEFAULT);
		</if>
		<if test="sw == 'kakao'">
			INSERT INTO CGVMEMBER VALUES(default,#{vo.mem_nickName},#{vo.mem_name},#{vo.mem_id},#{vo.mem_pswd},#{vo.mem_scNumber},#{vo.mem_tel},#{vo.mem_email},default,default,default,default,default,#{vo.mem_pswdQ},#{vo.mem_pswdA},#{vo.mem_photo},#{vo.mem_sPhoto},DEFAULT,DEFAULT,DEFAULT,DEFAULT);
		</if>
		<if test="sw == 'google'">
			INSERT INTO CGVMEMBER VALUES(default,#{vo.mem_nickName},#{vo.mem_name},#{vo.mem_id},#{vo.mem_pswd},#{vo.mem_scNumber},#{vo.mem_tel},#{vo.mem_email},default,default,default,default,default,#{vo.mem_pswdQ},#{vo.mem_pswdA},#{vo.mem_photo},#{vo.mem_sPhoto},DEFAULT,DEFAULT,DEFAULT,DEFAULT);
		</if>
		<if test="sw == 'naver'">
			INSERT INTO CGVMEMBER VALUES(default,#{vo.mem_nickName},#{vo.mem_name},#{vo.mem_id},#{vo.mem_pswd},#{vo.mem_scNumber},#{vo.mem_tel},#{vo.mem_email},default,default,default,default,default,#{vo.mem_pswdQ},#{vo.mem_pswdA},#{vo.mem_photo},#{vo.mem_sPhoto},DEFAULT,DEFAULT,DEFAULT,DEFAULT);
		</if>
	</insert>
	
	<insert id="setAuthNumber">
		INSERT INTO CGVAUTH VALUES(DEFAULT,#{email},#{authNumber},DEFAULT,#{authSw});
	</insert>
	
	<delete id="Auth3MinitSearch">
		DELETE FROM CGVAUTH WHERE TIMESTAMPDIFF(SECOND,AU_DATE,NOW()) >= 180;
	</delete>
	
</mapper>